@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all ease 0.3s
}
.navbar-default {
    background-color: #fff;
    border-color: #e7e7e7;
}
html, body{
  height: 100%;
  width: 100%;
}
h1, h2, h3, h4, h5 {
    font-weight: bolder;
    text-transform: uppercase
}
.p-40 {
    padding: 40px 
        
}
.pl-40 {
    padding: 0 40px 
        
}
.navbar {
    padding-top: 10px;
    box-shadow: none;
}
.margin-navbar {
    margin-top: 15px
}
.navbar-brand  {
    float: left;
    padding: 0;
}
.bolder {
    font-weight: bolder
}
.relative {
    position: relative;
}
body {
    padding-top: 70px;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}
a {
    color: #008342
}
.light-green-bg {
    background: #94C325 !important;
}
.light-green-text, green-text * {
    color: #94C325 !important;
    font-weight: bold
}
.green-text {
    color: #008342 !important;
    
}
.logo {
    max-height: 40px
}

.default-heading {
    text-transform: uppercase;
    font-weight: 800;
    color: #333333;
    font-size: 25px
}
.big-green-button {
    background: #008342;
    color: #fff !important;
    border-radius: 10px;
    padding: 5px 35px;
    text-transform: uppercase;
    font-weight: 700
}
.big-green-button:hover {
    background: #008342  !important;
}
.navbar-right img {
    max-height: 50px;

}
.navbar-right .selo {
    padding-top: 10px
}
.social-header {
    margin-right: 20px;
    list-style: none;
    float: left;
    padding-top: 10px
}
.social-header li {
    display: inline
}
.social-header>li>a {
    padding: 5px;
    color: #8FBD24 !important
}
.menu-middle {
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
}
.menu-middle a:hover{
    border-bottom: 1px solid
}
.navbar .active a{
    background: #fff !important;
    font-weight: bold;
    border-bottom: 1px solid
}
.section-home {
    padding: 30px 0
}
.default-border {
    width: 100%;
    padding: 40px 0;
    border-radius: 10px;
   -webkit-box-shadow: 10px 10px 41px -11px rgba(115,114,115,1);
    -moz-box-shadow: 10px 10px 41px -11px rgba(115,114,115,1);
    box-shadow: 10px 10px 41px -11px rgba(115,114,115,1);
    float: left;
    background: #fff
}
.default-border:hover {
  -webkit-box-shadow: 10px 10px 43px -10px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 43px -10px rgba(0,0,0,0.75);
box-shadow: 10px 10px 43px -10px rgba(0,0,0,0.75);
}
.align-middle {
    display: flex;
    justify-content: center; 
    align-items: center; 
}
.img-center {
    display: table;
    clear: both;
    margin: 10px auto
}

/*parallax box*/


.parallax-block{
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  font-size: 16px;
  padding: 10% 0
}
.parallax-block .container{
  text-align: center;

}
.img-parallax {
  width: 100vmax;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%,0);
  pointer-events: none
}
.heading-inverse .default-heading{
    color: #fff !important
}
.full-button {
    width: 100%;
    padding: 20px 0;
    float: left;
    height: auto !important;
    border: 0 !important
}
.form-control{
    padding: 20px 
    
}
.news-img {
    position: absolute;
    top: 0;
    width: 100%;
    max-height: 215px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px
}
.news-description {
    margin-top: 215px;
    padding: 0 30px;
}
.news-description p, .section-title p{
   color: #444;
   font-weight: 500;
   font-size: 12px
}
.news-description a:hover p{
   color: #444;
   text-decoration: none
}
.section-title {
    margin-top: 30px;
    padding: 50px 40px;
}
.inverse-text * {
    color: #fff;
}
.relative .form-control{
  padding-left: 60px !important;
  color: #444
}
.ico-newsletter{
  position: absolute;
  top: 15px;
  left: 40px
}
footer {
    padding-top: 10px;
    border-top: 1px solid #ccc
}
.footer-top {
    padding: 10px 0
}
.footer-top ul {
    margin-top: 10px;
    font-size: 11px;
    color: #444;
}
.footer-top ul li {
    margin: 10px
}
.footer-bottom {
    padding: 10px 0 5px 0;
    color: #fff;
    font-weight: bold;
    font-size: 12px
}
.footer .social-header li{
 margin-left: 5px !important
}